.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    transition: background 0.3s ease, backdrop-filter 0.4s ease;
    display: flex;
    align-items: center;
}

.navbar-container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.navbar.top {
    background: rgba(255, 255, 255, 0);
}

.navbar.top span,
.navbar.top .nav-chevron {
    color: white !important;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

.navbar.scrolled span,
.navbar.scrolled .nav-chevron {
    color: black !important;
}

/* Logo */
.navbar-logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50px;
}

/* Center area (links) */
.navbar-links {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;


}

.nav-item {
    font-size: 16px;
    text-decoration: none;
    transition: opacity 0.2s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-chevron {
    margin-left: 4px;
    transition: 0.2s ease;
}

.nav-item:hover .nav-chevron {
    transform: translateY(2px);
}


/* Right side actions */
.navbar-actions-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

@media (max-width: 1087px) {

    .navbar-links {
        display: none;
        /* hide full nav links */
    }

    .navbar-actions-desktop {
        display: none;
        /* hide desktop actions */
    }


    .navbar {
        padding-left: 5%;
        /* smaller padding */
    }
}